<div class="container">
  <% if @event.errors.any? %>
    <section id="error_explanation" class="alert-danger">
      <h2><%= @event.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </section>
  <% end %>
  <section id="show_event">
    <div class="host left"><%= @event.user.name %>さん主催</div>
    <div class="event_info left">
      <h3>概要</h3>
      <%= @event.summary %>
      <h3>参加費</h3>
      <%= @event.fee %>円
      <h3>開催地</h3>
      <%= @event.place %><br/>
      <%= @event.place_address %>
    </div>
    <div class="applicant_info left">
      <h3>申込者</h3><%= current_user.name %>
      <h3>メールアドレス</h3><%= current_user.email %>
    </div>
  </section>
  <section id="create_action">
    <%= form_for(@pm) do |f| %>
      <%= f.hidden_field :event_id, :value => @event.id %>
      <%= f.submit "上記の内容で申し込む", class: 'btn btn-default btn-sm' %>
    <% end %>
  </section>
</div>
